<style>
	.myHover{
		color: #000000;
	}
	.myHover:hover{
		color: #000000;
		font-weight: bold;	
		text-shadow: 3px 2px #ffffff;
	}
</style>
<footer class="col-12">
		<div class="row">
			<div class="col-sm-3">
				<ul>
					<p><a class="myHover" href=".">Home</a></p>
					<p><a class="myHover" href="tattoo">Tattoo</a></p>
					<p><a class="myHover" href="piercing">Piercing</a></p>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul>
					<p><a class="myHover" href="removal">Tattoo Removal</a></p>
					<p><a class="myHover" href="faq">FAQ</a></p>
					<p><a class="myHover" href="contact">Contact</a></p>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul>
					<p><a class="myHover" href="https://www.facebook.com/mindtheink/?fref=ts">Facebook</a></p>
					<p><a class="myHover" href="https://www.instagram.com/nemesistattoo/?hl=en">Instagram</a></p>
					<p><a class="myHover" href="https://twitter.com/camdentattoo/">Twitter</a></p>
				</ul>
			</div>
			<div class="col-sm-3">
				<form name="newsletterForm" data-ng-submit="submitForm()" novalidate>
					<div class="form-group">
						<label name="signup">Sign Up for Newsletter</label>
						<input type="email" autocomplete="on" name="email" class="form-control" data-ng-model="user.email" placeholder="Email" required>
						<p data-ng-show="newsletterForm.email.$pristine" class="help-block">Just pop in your email address</p>
					</div>
					<button type="submit" class="btn btn-primary" data-ng-disabled="newsletterForm.$invalid">SUBMIT</button>
				</form>
			</div>
			<div class="col-sm-12">
				<span style="font-size: 0.75em; margin-left: 20px; margin-bottom: 30px">COPYRIGHT ©2017 NEMESIS TATTOO & PIERCING</span>
			</div>
		</div>
</footer>