<style type="text/css">
.extra-padding {
	padding: 40px;
}
</style>
<div class="container-fluid extra-padding">
	<h2>Contact Us</h2>
		<p><span style="font-style: italic; font-weight: bold;">Email:</span> nemesiscamdentown@gmail.com</p>
		<p><span style="font-style: italic; font-weight: bold;">Phone:</span> 020 7482 0063</p>
	<h2>Find Us</h2>
		<p>3 Buck St<br>London<br>NW1 8NJ</p>
	<h2>Open</h2>
		<p>Mon - Sun: 11am - 7pm</p>
		<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.5202857024296!2d-0.14545004842749643!3d51.5403579795406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ae192798ed5%3A0xd7c4ae80a3fa5dae!2sNemesis+Tattoo+%26+Body+Piercing+Studio!5e0!3m2!1sen!2suk!4v1489437490241" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen align="right"></iframe></p>
</div>
