<style type="text/css">
	.extra-padding{
		padding: 30px 50px;
	}
	@media (min-width: 768px) {
		.text-margin{
		margin-right: 200px;
		margin-left: 200px;
		}
	}
	.services{
    border: 10px solid transparent;
	}
	.services:hover{
		border-color: #f1f1f1;
	}
</style>
<div class="container-fluid extra-padding">
	<div class="row text-center extra-padding">
		<div class="col-sm-12">
		<h1>FAQ</h1>
		</div>
	</div>
	<div class="row text-center extra-padding">
		<div class="col-sm-4">
			<a href="#tatto_faq"><h2>TATTOO</h2></a>
		</div>
		<div class="col-sm-4">
			<a href="#piercing_faq"><h2>PIERCING</h2></a>	
		</div>
		<div class="col-sm-4">
			<a href="#removal_faq"><h2>TATTOO REMOVAL</h2></a>
		</div>
	</div>
	<div class="text-left">
	<a id="tatto_faq"><h3>Tattoo FAQ</h3></a>
		<h4>Does it hurt?</h4>
		<p>Yes, it does but it’s a bearable pain.</p>

		<h4>How old do I have to be to get a tattoo?</h4>
		<p>You have to be 18 to get a tattoo and you need to present us with a valid picture ID with your date of birth visible (passport or driving licence preferable).</p>

		<h4>Can I get a white tattoo?</h4>
		<p>Yes you can, however you need to know that the white ink is barely visible on the skin and it might fade over time.</p>

		<h4>Can I get an allergic reaction to the tattoo ink?</h4>
		<p>We only use hypoallergenic inks that have been tested and are not harmful for the skin. All our inks are suitable for vegans.</p>

		<h4>Do you use disposable needles?</h4>
		<p>Yes, we use sterilised disposable, single use needles exclusively.</p>

		<h4>How long does it take for a new tattoo to heal?</h4>
		<p>Usually it takes approximately two weeks to heal if you follow the recommended aftercare procedures.</p>

		<h4>Can I use the gym/sauna/swimming pool/sunbed after getting a new tattoo?</h4>
		<p>It is advisable to avoid these completely during the healing process in order to avoid infection and the fading of colours.</p>

		<h4>Do you do tattoos in a sterile/hygienic environment?</h4>
		<p>Yes, our studio is fully licenced by the local authority and corresponds with all Health&Safety regulations.</p>
	<br>
	<a id="piercing_faq"><h3>Piercing FAQ</h3></a>
		<h4>Does it hurt?</h4>
		<p>Yes, it does but it’s a bearable pain.</p>

		<h4>How old do I have to be to get a piercing?</h4>
		<p>You have to be 16 to get a piercing and you need to present us with a valid picture ID with your date of birth visible (passport or driving licence preferable). For genital piercings you have to be 18.</p>

		<h4>Is the body jewellery included in the price?</h4>
		<p>Yes, all basic titanium body jewellery is included in the price of the piercing.</p>

		<h4>Do you use a piercing gun or needle?</h4>
		<p>We use disposable, single use needles exclusively as the piercing gun can’t be sterilised and is not safe.</p> 

		<h4>How long does it take to get a new piercing?</h4>
		<p>Getting a new piercing is really quick, it only takes a few moments to get it done.</p>

		<h4>When can I change my body jewellery?</h4>
		<p>You can change your body jewellery once your piercing is completely healed, which usually takes around eight to ten weeks. However each piercing heals differently so please consult with our body piercer.</p>

		<h4>What can I do if my piercing gets infected?</h4>
		<p>There can be different types of infection affecting your piercing. You need to come and see us or send us a picture of the affected area so we can advise you regarding treatment. In 90% of all cases you don’t need to remove your piercing, so please do not remove it before consulting with us.</p>

		<h4>Can I get an allergic reaction to the piercing?</h4>
		<p>No, as we use sterilised titanium body jewellery.</p>

		<h4>Can I use the gym/sauna/swimming pool/sunbed after getting a new piercing?</h4>
		<p>It is advisable to avoid these during the healing process in order to avoid infection.</p>

		<h4>Do you do piercings in a sterile/hygienic environment?</h4>
		<p>Yes, our studio is fully licenced by the local authority and corresponds with all Health&Safety regulations.</p>

		<h4>Can I get more than one piercing at a time?</h4>
		<p>Yes you can, depending on the area you would like to pierce. Please consult with our body piercer.</p>
	<br>
	<a id="removal_faq"><h3>Tattoo Removal FAQ</h3></a>
		<h4>Can I get an allergic reaction to the laser?</h4>
		<p>It is highly unlikely. We always do a patch test before going ahead with the treatment, after which you need to wait for at least five days to rule out any possible reactions.</p>

		<h4>How long does it take for the treated area to heal?</h4>
		<p>It takes between four and six weeks for the treated area to heal. It is normal for the skin to be slightly blistery and itchy.</p>

		<h4>How many sessions do I need to completely remove my tattoo?</h4>
		<p>It depends on the tattoo. In order to remove a tattoo completely you might need at least six sessions. Please consult with our laser tattoo removal specialist.</p>

		<h4>Is it possible to remove coloured tattoos?</h4>
		<p>It is more difficult to remove coloured tattoos and you might need more sessions than for plain black ink. Some colours can’t be removed completely.</p>

		<h4>How long does a tattoo removal session last?</h4>
		<p>A session last a few minutes, depending on the size of the tattoo you want to remove.</p>

		<h4>Can I use the gym/sauna/swimming pool/sunbed after the laser tattoo removal treatment?</h4>
		<p>It is advisable to avoid these completely during the healing process in order to avoid infection.</p>

		<h4>How long do I have to wait between two laser tattoo removal sessions?</h4>
		<p>You have to wait for at least six weeks until the skin regenerates.</p>

		<h4>Is the removal procedure safe?</h4>
		<p>The laser tattoo removal is a safe procedure as it has been tested and we follow strict Health&Safety rules during the treatment.</p>

		<h4>Can I cover the treated area with a new tattoo?</h4>
		<p>After a few treatments when the ink fades and your skin heals completely you can tattoo the area with a cover up. We recommend this as after a few laser treatment sessions the faded tattoo can be covered easily.</p>

		<h4>What type of laser do you use?</h4>
		<p>We use Q switch Nd Yag laser</p>
</div>