<style type="text/css">
	.extra-padding{
		padding: 30px 50px;
	}
	@media (min-width: 768px) {
		.text-margin{
		margin-right: 300px;
		margin-left: 300px;
		}
	}
	.services:hover{
		opacity: 0.8;
		box-shadow: 0 1px 8px black;
	}
</style>
<div class="container-fluid extra-padding">
	<div class="row text-center text-margin">
		<div class="col-sm-12">
			<h1>{{title}}</h1>
			<p>{{aboutNemesis}}</p>
		</div>
	</div>
</div>
<div class="container-fluid extra-padding">
	<div class="row">
		<div class="col-sm-4">
			<a href="tattoo"><img src="images/tattoo_1.jpg" class="img-responsive services"></a>
		</div>
		<div class="col-sm-4">
			<a href="piercing"><img src="images/Zoli_piercing_1.jpg" class="img-responsive services"></a>
		</div>
		<div class="col-sm-4">
			<a href="removal"><img src="images/NemesisTattooRemoval-01.jpg" class="img-responsive services"></a>
		</div>
	</div>
</div>