<style type="text/css">
	.extra-padding{
		padding: 30px 50px;
	}
	@media (min-width: 768px) {
		.text-margin{
		margin-right: 200px;
		margin-left: 200px;
		}
	}
</style>
<div class="container-fluid text-center text-margin">
	<h1>PIERCING</h1>
	<h2>Zoli</h2>
	<img src="/images/Zoli_portfolio/Zoli.jpg" class="img-responsive img-circle extra-padding" alt="Zoli" style="display: inline;">
	<p>Zoli started piercing way back in the early nineties in Hungary. After getting some experience piercing friends on the local punk scene he moved to London in 2004 to further his skills and learn new ones which now also include certain types of body modifications.</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3" ng-repeat="img in images">
			<div class="thumbnail">
				<img src="{{img}}">
			</div>
		</div>
	</div>
</div>
