<style type="text/css">
	.extra-padding{
		padding: 30px 50px;
	}
	@media (min-width: 768px) {
		.text-margin{
		margin-right: 200px;
		margin-left: 200px;
		}
	}
	.services{
    border: 10px solid transparent;
	}
	.services:hover{
		border-color: #f1f1f1;
	}
</style>
<div>
	<div class="container-fluid text-center text-margin">
		<h1>PIERCING</h1>
	</div>
	<div class="container-fluid text-center text-margin">
		<h2>Zoli</h2>
		<p>Zoli started piercing way back in the early nineties in Hungary. After getting some experience piercing friends on the local punk scene he moved to London in 2004 to further his skills and learn new ones which now also include certain types of body modifications.</p>
	</div>
</div>