<style type="text/css">
	.extra-padding{
		padding: 30px 50px;
	}
	@media (min-width: 768px) {
		.text-margin{
		margin-right: 200px;
		margin-left: 200px;
		}
	}
	.services{
    border: 10px solid transparent;
	}
	.services:hover{
		border-color: #f1f1f1;
	}
</style>
<div>
	<div class="container-fluid text-center text-margin">
		<h1>Tattoo Removal</h1>
	</div>
	<div class="container-fluid text-center text-margin">
		<h2>Andi</h2>
		<p>Andi started working as a piercer in Hungary eight years ago and decided to move to London six years ago to continue her work there. She also specialises in traditional piercings, microdermal implants and laser tattoo removal treatments. She is the lovely girl who always meets and greets you at the shop’s reception desk.</p>
	</div>
</div>